{% extends 'admin_base.html' %}

{% block main %}



<div class="card shadow m-2"> 
    <div class="card-body">
        <h5>Employee Details</h5>

    <div class="container-fluid">
    <table class="table table-bordered table-hover" id="example">
        <thead class="text-white bg-danger">
        <tr>
            <th>S No.</th>
            <th>Emp Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Contact No.</th>
            <th>Joining Date</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in employee %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.empcode}}</td>
            <td>{{i.user.first_name}}</td>
            <td>{{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.joiningdate}}</td>
            
            <td><a href="{% url 'edit_profile' i.id %}" class="text-primary d-block mb-1">Edit Profile Details</a>
                <a href="{% url 'edit_education' i.user.id %}" class="text-success d-block mb-1">Edit Education Details</a>
                <a href="{% url 'edit_experience' i.user.id %}" class="text-secondary d-block mb-1">Edit Experience Details</a>
                <a href="{% url 'delete_employee' i.user.id %}" class="text-danger d-block " onclick="return confirm('Are You Sure')">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>     
    </div>
</div>
</div>


 {% endblock %}   